body {
  text-align: center;
}
#container {
  background-image: radial-gradient(yellow, red);
  color: white;
  padding: 0.2rem;
  width: 60vh;
  margin: 0 auto;
  border-radius: 1rem;
}

h1 {
  font-size: 3rem;
}
#time {
  font-size: 3rem;
}

#date {
  font-size: 2rem;
}
